<footer>
    <address>
        Besök oss gärna:<br>
        Inner Peace Adventures<br>
        Box 564, Maldiverna<br>
        <a href="mailto:fake@example.com">Viktoria L</a>.<br>
        Tel: 070-11222333<br>
        </address>
        <br>
    Copyright &copy; Inner Peace Adventures 2023
</footer>
</div>
</body>
</html>