<header>
    <nav>
    
        <a href="/">
          <h1><i class="fa-solid fa-spa"></i>Inner Peace Adventures</h1>
        </a>

      <div class="dropdown-menu">
        <ul>
          <li><a href="/">Hem</a></li>
          <li><a href="/members">Medlemslista</a></li>
          <li><a href="/members/add">Lägg till medlem</a></li>
        </ul>
      </div>
      <button class="hamburger"><i class="fa-solid fa-bars"></i></button>
    </nav>
</header>
  