<%- include('./partials/head.ejs') %>
<%- include('./partials/nav.ejs') %>

<!--Startsidan: Information om klubbens verksamhet   -->
<section class="info">
    <div class="welcome">
        <div class="text">
            <h2>Välkommen till Inner Peace!</h2>
            <p class="infoP">Inner Peace Adventures är en reseklubb som erbjuder unika resor till vackra platser runt om i världen med fokus på hälsa, välmående, meditation, mindfulness och yoga. Vi har ett medlemsregister med personer som delar vår passion för holistisk hälsa och som vill utforska nya platser samtidigt som de jobbar med sin personliga utveckling. Våra resor är utformade för att skapa en balans mellan avkoppling och äventyr, där medlemmar kan ansluta till sig själva och till naturen på ett djupare sätt. Med vår expertis och erfarenhet, strävar vi efter att skapa en atmosfär av lugn och harmoni, där våra medlemmar kan återfå sin inre frid och balans.</p>
        </div>
        <img src="/bali.jpg" class="info-image" alt="Bali temple">
    </div>
</section>


<%- include('./partials/footer.ejs') %>